/* Add custom fonts */
@font-face {
    font-family: custom;
    src: url("https://www.example.com");
}

/* Variables */

:root {
    --dark-background: #251b3b;
    --btn-background: #3c2f5a;
    --player-highlight: #0aad02;;
    --comp-highlight: #a70c01;
    --font-color: #ffffff;
}

/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'sans-serif', 'Montserrat', 'Poppins', 'Arial Rounded MT Bold';
}

/* Layout */
.header h1 {
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.get-rekt {
    padding: 24px;
}

svg {
    cursor: pointer;
}

/* Icon animation */
@keyframes wave {
    10% {
        rotate: -20deg;
        transform: translate(5%) skewX(10deg);
    }
    50% {
        rotate: 20deg;
        transform: translate(-5%) skewX(-15deg);
    }
    80% {
        rotate: -10deg;
        transform: translate(2%);
    }
}

svg:hover {
    animation: wave 900ms ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.scores {
    display: flex;
    padding: 42px 0;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.track-player,
.track-computer {
    background-color: var(--btn-background);
    padding: 24px;
    border-radius: 4px;
    flex: 1;
}

.final {
    text-align: center;
    padding: 42px;
}

/* Buttons */

button {
    background-color: var(--btn-background);
    padding: 15px;
    border: none;
    border-radius: 4px;
}

button:hover {
    border: 2px solid var(--player-highlight);
}

/* Effects */

.p-highlight {
    box-shadow: 5px 5px 5px var(--player-highlight);
}

.c-highlight {
    border: 2px solid var(--comp-highlight);
}